#container{
    background-color: lightblue;
    height: 80vm;
    width: 500px;
    border: 2px solid black;
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    /* flex-wrap: wrap; */

}
.items{
    border: 2px solid black;
    height: 200px;
    width: 120px;
}
h1{
    font-size: 50px;
}